extends default

block content
    .home-search
        img(src="/images/images.jpeg" width="600" height="350")
        form(action='/search' method='GET')
            input.home-input(autofocus='' placeholder='Big Data News' type='search' name='q')
